<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="b.o.a">
	<select id="getBno" resultType="Integer">
		<![CDATA[select max(bno) from board]]>
	</select>

	<insert id="insert">
		<![CDATA[insert into board (bno, title, content, writer) values (#{bno}, #{title}, #{content}, #{writer})]]>
	</insert>	
	
	<select id="list" resultType="BoardVO"> 
		<![CDATA[select * from board order by bno desc]]>
	</select>
	
	<select id="read" resultType="BoardVO">
		<![CDATA[select * from board where bno = #{bno}]]>
	</select>
	
	<update id="increaseViewcnt">
		<![CDATA[update board set viewcnt = viewcnt + 1 where bno = #{bno}]]>
	</update>
	
	<update id="update">
		<![CDATA[update board set title = #{title}, content = #{content}, writer = #{writer}, updateDate = sysdate where bno = #{bno}]]>
	</update>
	
	<delete id="delete">
		<![CDATA[delete from board where bno = #{bno}]]>
	</delete>
	
	<select id="getAmount" resultType="Integer">
		<![CDATA[select count(bno) from board]]>
	</select>
	
	<select id="listPage" resultType="BoardVO">
	<![CDATA[
	select * from (select * from (select rownum rnum, bno, title, writer, regDate, viewcnt from (select * from board order by bno desc ) order by rnum desc) where rnum >= #{startNum} and #{endNum} >= rnum) order by rnum asc
	]]> 
	</select>
	
	<select id="searchlist2" resultType="BoardVO">
	<![CDATA[select * from board where lower(${searchType}) like '%'||lower(#{keyword})||'%']]>
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'writer'.toString()">
				where lower(writer) like '%'||lower(#{keyword})||'%'
			</if>
			<if test="searchType == 'title'.toString()">
				where lower(title) like '%'||lower(#{keyword})||'%'
			</if>
			<if test="searchType == 'content'.toString()">
				where lower(content) like '%'||lower(#{keyword})||'%'
			</if>
			<if test="searchType == 'title_content'.toString()">
				where lower(content) like '%'||lower(#{keyword})||'%' or lower(title) like '%'||lower(#{keyword})||'%'
			</if>
		</if>
	</sql>
	
	<select id="searchlist" resultType="BoardVO">
		<![CDATA[
		select * from board ]]> <include refid="search"></include>
	</select>
	
	<select id="test" resultType="BoardVO">
		<![CDATA[
		select * from (select rownum rnum, bno, title, content, writer, viewcnt, regDate from
		(select * from board ]]><include refid="search"></include> 
		<![CDATA[
		order by bno desc)
		) where rnum between #{startNum} and #{endNum}
		]]>	
	</select>
</mapper>