<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="t.e.s">
	
	<select id="list" resultType="TestDTO" >
select * from test left join member
on test.id = member.id
left join depart
on test.did=depart.did
order by tnum desc
	</select>
	

	
	<insert id="insert">
	 insert into test (tnum, id, did, title, content) values ((select nvl2(max(tnum), max(tnum+1), 1) from test),#{id},#{did},#{title},#{content})
	</insert>
</mapper>